body {
  background: var(--grey-200);
}
.hero {
  min-height: 40vh;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}
.img-container {
  display: none;
}
.hero-center {
  width: 90vw;
  max-width: var(--max-width);
}
.hero-title h1 {
  margin-bottom: 2rem;
  font-weight: 700;
}
.hero-title p {
  line-height: 2;
  max-width: 35em;
  color: var(--grey-600);
}
@media (min-width: 992px) {
  .hero-center {
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-items: center;
    gap: 4rem;
  }
  .img-container {
    display: block;
  }
}
/* 
============= 
PROJECTS 
=============
*/

.projects {
  padding: 5rem 0;
}
.projects-center {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
  margin-top: 3rem;
  display: grid;
  gap: 2rem;
}
.project {
  background: var(--white);
  display: block;
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  transition: var(--transition);
}
.project:hover {
  transform: scale(1.05);
  box-shadow: var(--shadow-4);
}

.project .img {
  height: 15rem;
  border-top-right-radius: var(--borderRadius);
  border-top-left-radius: var(--borderRadius);
}

.project h5 {
  text-align: center;
  padding: 1rem 0;
  color: var(--grey-700);
}

@media (min-width: 768px) {
  .projects-center {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .projects-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
